body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.flexiablecontainer{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 70%;
}
.linkbutton{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700px;
    padding: 10px 40px;
    border-radius: 7px;


}
.topbanner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middlebanner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}